  <!-- FOOTER -->
  <footer class="container-fluid p-4 overflow-hidden position-relative vh-55 footer-container">
    <div class="row h-100">
        <div class="col-8">
            <div class="bg-rojo rounded-4 overflow-hidden w-100 h-100 p-4">
                <div class="row h-100">
                    <div class="col-6">
                        <div class="w-100 h-100 color-b footer-form-container d-flexeo">
                            <div class="w-100">
                                <h4 class="mb-3">Ponte en contacto con nosotros:</h4>
                                <div class="input-group input-group-lg mb-3 input-footer-form">
                                    <input type="text" class="form-control p-3 rounded-start-4 border border-0 focus-ring focus-ring-danger" placeholder="Correo electrónico" aria-label="Correo electrónico" aria-describedby="button-addon2">
                                    <button class="btn btn-outline-secondary rounded-end-4 px-4 py-3 border border-0 bg-rojodark color-b btn-footer trans d-flexeo" type="button" id="button-addon2"><i class='bx bx-right-arrow-alt'></i></button>
                                </div>
                            </div>
                            <h4 class="finde-footer-text">FINDE</h4>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="w-100 h-100 d-flexeo footer-links-container">
                            <a href="" class="footer-link trans" target="_self">Nosotros</a>
                            <a href="" class="footer-link trans" target="_self">FAQs</a>
                            <a href="/dash-user" class="footer-link trans" target="_self">Cuenta</a>
                            <a href="" class="footer-link trans" target="_self">Términos y Condiciones</a>
                            <a href="" class="footer-link trans" target="_self">Políticas y Restricciones</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="bg-negro rounded-4 overflow-hidden w-100 h-100" style="max-height: 50vh;">
                <img src="RECURSOS/Serenely Grand Modern Atrium.jpeg" alt="" class="general-img">
            </div>
        </div>
    </div>
  </footer>  
  <!-- FOOTER -->


