<section class="container-fliud container-fluid p-4 vh-100 ">
    <div class="row h-100">
        <div class="col-6">
            <div class="w-100 h-100 overflow-hidden rounded-4 position-relative d-flexeo p-2 gap-2 general-option-container" id="general-option-container">
                <div class="logo-opcion-container  w-100 h-auto">
                    <a href="index.html" class="links inner-logo-opcion-container d-flexeo">
                        <figure> 
                            <img src="./RECURSOS/LOGOS/Icono_C.png" alt="Logo FINDE" class="general-img">
                        </figure>
                        <h4>FINDE</h4>
                    </a>
                </div>
                <div class="counter-opcion-container d-flexeo gap-2 w-100 h-auto" id="counter-opcion-container">
                    <div class="counter-item rounded-pill p-1 counter-pass"></div>
                    <div class="counter-item rounded-pill p-1 counter-pass"></div>
                    <div class="counter-item rounded-pill p-1 counter-active"></div>
                    <div class="counter-item rounded-pill p-1"></div>
                </div>
                <div class="form-opcion-container h-auto d-flexeo gap-2" id="form-opcion-container-registro">
                    <h4 class="w-100">Crea una cuenta.</h4>
                    <form class="w-100">
                        <div class="row">
                            <div class="col-6 mb-3">
                                <input type="email" class="form-control rounded-4 p-3 focus-ring focus-ring-light border" id="inputEmailRe" placeholder="Correo electrónico" autocomplete="false">
                            </div>
                            <div class="col-6 mb-3">
                                <select class="form-select rounded-4 p-3 focus-ring focus-ring-light border" placeholder="Categoria">
                                    <option>Selecciona tu categoria</option>
                                    <option value="1">Restaurantes</option>
                                    <option value="2">Cultura y Arte</option>
                                    <option value="3">Vida Nocturna</option>
                                    <option value="4">Recreación y Diversión</option>
                                    <option value="5">Salud y Bienestar</option>
                                  </select>
                            </div>
                            <div class="col-12 mb-3">
                                <input type="password" class="form-control rounded-4 p-3 focus-ring focus-ring-light border" id="inputPasswordRe" placeholder="Contraseña">
                            </div>
                        </div>
                        <!-- <div class="mb-3">
                            <input type="email" class="form-control rounded-4 p-3 focus-ring focus-ring-light border" id="inputEmailRe" placeholder="Correo electrónico" autocomplete="false">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control rounded-4 p-3 focus-ring focus-ring-light border" id="inputPasswordRe" placeholder="Contraseña">
                        </div> -->
                        <button type="submit" class="rounded-pill py-2 border border-0 w-100 btn-submit-form trans">Registrar</button>
                    </form>
                    <div>
                        <p>Registrate de otra forma:</p>
                        <div class="d-flexeo gap-2 mb-3">
                            <button id="" class="rounded-circle border border-0 d-flexeo p-3 btn-g-b btn-sign-social"><i class='bx bxl-google' ></i></button>
                            <button id="" class="rounded-circle border border-0 d-flexeo p-3 btn-g-b btn-sign-social"><i class='bx bxl-microsoft' ></i></button>
                            <button id="" class="rounded-circle border border-0 d-flexeo p-3 btn-g-b btn-sign-social"><i class='bx bxl-facebook' ></i></button>
                        </div>
                        <p>Al crear o ingresar a una cuenta acceptas los <a href="" class="links">Terminos y Condiciones</a>, <a href="" class="links">Políticas y Restricciones</a>.</p>
                    </div>
                </div>
                <div class="nav-opcion-container d-flexeo gap-2 w-100 h-auto">
                    <a href="/type" class="links rounded-pill btn-g-b py-2 px-4 border border-2 btn-sign" >Regresar</a>
                    <!-- <a href="/home" class="links rounded-pill btn-g-b py-2 px-4 border border-2 btn-sign btn-sign-active btn-sign-active">Siguiente</a> -->
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="w-100 h-100 overflow-hidden rounded-4 position-relative img-container-sign d-flexeo p-3">
              <div class="card-app-sign d-flexeo bg-white w-100 vh-25 rounded-4 overflow-hidden">
                <figure class="m-0 h-100">
                    <img src="./RECURSOS/code-qr.PNG" alt="" class="general-img">
                </figure>
                <div class="inner-card-app h-auto px-5">
                    <h4>Decarga nuestra  aplicación móvil.</h4>
                    <div class="rounded-4 overflow-hidden border border-2 border-negro d-flexeo in-btn-app-con gap-2 p-3">
                        <a href="" class="links d-flexeo gap-2 btn-g-b bg-rojo rounded-2 py-2 px-4" target="_blank"><i class='bx bxl-play-store' ></i> PlayStore</a>
                        <a href="" class="links d-flexeo gap-2 btn-g-b bg-rojo rounded-2 py-2 px-4" target="_blank"><i class='bx bxl-apple' ></i> App Store</a>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>



