<!-- NAV -->
<nav class="fixed-top px-4 py-2 nav-desktop">
    <div class="container-fluid blur-bg-nav rounded-4">
        <div class="row">
            <div class="col-6">
                <div class="w-100 h-100 d-flexeo gap-2 side-nav left-side-nav py-3 px-1 pe-0 pe-md-0 pe-lg-5">
                    <div class="btns-calls">
                        <a href="/account" class="me-2 logSign-btn border border-2 border-negro rounded-pill py-2 px-4 links trans">Account</a>
                        <a href="/first" class="me-2 logSign-btn border border-2 rounded-pill py-2 px-4 links trans" target="_self">Sign Up</a>
                    </div>
                    <div class="btns-socials d-flexeo gap-2">
                        <a href="#" class="btn-social links p-2 rounded-circle d-flexeo btn-g-b" target="_self"><i class='bx bxl-facebook'></i></a>
                        <a href="#" class="btn-social links p-2 rounded-circle d-flexeo btn-g-b" target="_self"><i class='bx bxl-instagram-alt'></i></a>
                        <a href="#" class="btn-social links p-2 rounded-circle d-flexeo btn-g-b" target="_self"><i class='bx bxl-tiktok'></i></a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="w-100 h-100 d-flexeo side-nav right-side-nav py-3 px-1 ps-0 ps-md-0 ps-lg-5">
                    <a href="/home" class="navbar-brand Logo-container d-flexeo">
                        <img src="RECURSOS/LOGOS/Icono_C.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                        FINDE
                    </a>
                    <div class="btns-nav-menu d-flexeo gap-2">
                        <a href="#" class="links rounded-pill py-2 px-3 btn-nav-menu border border-2 border-negro trans" target="_self">Conócenos</a>
                        <a href="/categorias" class="links rounded-pill py-2 px-3 btn-nav-menu border border-2 border-negro trans" target="_self">Categorías</a>
                        <a href="#" class="links rounded-pill py-2 px-3 btn-nav-menu border border-2 border-negro trans" target="_self">FAQs</a>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</nav>
<!-- NAV -->
