<app-nav></app-nav>
<!-- FEATURES -->
<section class="container-fluid p-4 pb-0 overflow-hidden position-relative menu-product-container " style="margin-top: 4.5rem;">
    <div class="row h-100">
        <div class="col-7 overflow-hidden" style="height: 90vh;">
            <div class="row h-100">
                <div class="col-1 pe-0" style="height: 50%;">
                    <div class="w-100 h-100 rounded-4 d-flexeo gap-4 links-product-container">
                        <a href="/categorias" class="link-menu-product links rounded-circle d-flexeo p-2 btn-g-b normal-link-product">
                            <i class='bx bx-arrow-back'></i>
                        </a>
                        <a href="" class="link-menu-product links rounded-circle d-flexeo p-2 btn-g-b normal-link-product gap-4">
                            <span class="rounded-circle p-3 d-flexeo trans">
                                <i class='bx bxs-bookmark-star' ></i>
                             </span>
                        </a>
                        <a href="" class="link-menu-product links rounded-circle d-flexeo p-2 btn-g-b normal-link-product gap-4">
                            <span class="rounded-circle p-3 d-flexeo trans">
                                <i class='bx bxs-heart' ></i>
                             </span>
                        </a>
                    </div>
                </div>
                <div class="col-11" style="height: 50%;">
                    <div class="w-100 h-100 bg-negro rounded-4 p-3 d-flexeo gap-4 short-info-product">
                        <div class="w-100 d-flexeo gap-2">
                            <figure class="logo-short-info border border-1 border-white rounded-circle m-0 p-2">
                                <img src="./MEDIA/night/logo/lolita.jpg" alt="" class="general-img rounded-circle overflow-hidden">
                            </figure>
                            <h4>La Lolita Bar</h4>
                        </div>
                        <div class="w-100 d-flexeo gap-2 words-short-info">
                            <small class="rounded-pill py-2 px-3 bg-white item-word-short">antro</small>
                            <small class="rounded-pill py-2 px-3 bg-white item-word-short">perreo</small>
                            <small class="rounded-pill py-2 px-3 bg-white item-word-short">litros</small>
                        </div>
                        <div class="w-100 d-flexeo gap-2 info-short-info">
                            <h5>Un bar con una atmósfera chic y moderna, ofreciendo cócteles creativos y una selección de platillos gourmet. Lolita es perfecto para una noche elegante.</h5>
                        </div>
                       
                        <div class="w-100 direction-short-info mt-auto">
                            <h5>Calle Madero 180, León, Guanajuato.</h5>
                        </div>
                        
                    </div>
                </div>
                <div class=" offset-1 col-6 pt-3 overflow-hidden" style="height: 50%;">
                    <div class="w-100 h-100 border border-2 border-negro rounded-4 p-2 d-flexeo map-short-place">
                        <div id="map"></div>
                        <a href="" class="link-menu-product links rounded-pill d-flexeo p-2 btn-g-b accent-link-product">
                            <h4 class="m-0 ps-1">Visitalo</h4>
                            <span class="rounded-circle p-3 d-flexeo trans">
                                <i class='bx bx-arrow-back'></i>
                             </span>
                        </a>
                    </div>
                </div>
                <div class="col-5 pt-3 overflow-hidden" style="height: 50%;">
                    <div class="w-100 h-100 pt-3 p-2 d-flexeo gap-3 metric-container bg-gris rounded-4">                   
                        <div class="w-100 metric-item start-container-metric text-center" >
                            <h4><i class='bx bxs-star'></i> 4.5 |Estrellas</h4>
                        </div>
                        <div class="w-100 metric-item start-container-metric text-center" >
                            <h4><i class='bx bxs-message-square-dots'></i> +14K | Comentarios</h4>
                        </div>
                        <div class="w-100 metric-item start-container-metric text-center" >
                            <h4><i class='bx bxs-hand'></i> 5.72 M | Opiniones</h4>
                        </div>
                        <a href="" class="mt-auto link-menu-product links rounded-pill d-flexeo p-2 btn-g-b distinct-link-product">
                            <h4 class="m-0 ps-1">Conoce más</h4>
                            <span class="rounded-circle p-3 d-flexeo trans">
                                <i class='bx bx-arrow-back'></i>
                             </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="bg-negro w-100 h-100 rounded-4 d-flexeo card-product-inner"> 
                <img src="./MEDIA/night/background/lolita.jpg" class=" general-img product-img">
            </div>
        </div>        
    </div>
    <div class="row h-100 mt-4">
        <div class="col-12 overflow-hidden h-auto">
            <div class="w-100 h-100 bg-negro rounded-4 p-3 d-flexeo gap-4 timetable-info-product">
               
                <div class="timetable-container rounded-3 w-100 d-flexeo gap-2">
                    <span class="timetable-item d-flexeo p-2 rounded-2 trans h-100">
                        <div class="w-100 d-flexeo">
                            <h6 class="m-0 w-100">Lunes</h6>
                            <small class="w-100 rounded-pill p-1 d-flexeo label-time close-label">Cerrado</small>
                        </div>
                       
                    </span>
                    <span class="timetable-item d-flexeo p-2 rounded-2 trans h-100">
                        <div class="w-100 d-flexeo">
                            <h6 class="m-0 w-100">Martes</h6>
                            <small class="w-100 rounded-pill p-1 d-flexeo label-time close-label">Cerrado</small>
                        </div>
                       
                    </span>
                    <span class="timetable-item d-flexeo p-2 rounded-2 trans h-100">
                        <div class="w-100 d-flexeo">
                            <h6 class="m-0 w-100">Miércoles</h6>
                            <small class="w-100 rounded-pill p-1 d-flexeo label-time close-label">Cerrado</small>
                        </div>
                       
                    </span>
                    <span class="timetable-item d-flexeo p-2 rounded-2 trans h-100">
                        <div class="w-100 d-flexeo">
                            <h6 class="m-0 w-100">Jueves</h6>
                            <small class="w-100 rounded-pill p-1 d-flexeo label-time open-label">Abierto</small>
                        </div>
                        <small class="m-0 w-100">8:00 p.m - 2:00 a.m</small>
                    </span>
                    <span class="timetable-item d-flexeo p-2 rounded-2 trans h-100">
                        <div class="w-100 d-flexeo">
                            <h6 class="m-0 w-100">Viernes</h6>
                            <small class="w-100 rounded-pill p-1 d-flexeo label-time open-label">Abierto</small>
                        </div>
                        <small class="m-0 w-100">8:00 p.m - 2:00 a.m</small>
                    </span>
                    <span class="timetable-item d-flexeo p-2 rounded-2 trans h-100">
                        <div class="w-100 d-flexeo">
                            <h6 class="m-0 w-100">Sábado</h6>
                            <small class="w-100 rounded-pill p-1 d-flexeo label-time open-label">Abierto</small>
                        </div>
                        <small class="m-0 w-100">8:00 p.m - 2:00 a.m</small>
                    </span>
                    <span class="timetable-item d-flexeo p-2 rounded-2 trans h-100">
                        <div class="w-100 d-flexeo">
                            <h6 class="m-0 w-100">Domingo</h6>
                            <small class="w-100 rounded-pill p-1 d-flexeo label-time close-label">Cerrado</small>
                        </div>
                    </span>
                </div>
            </div>
        </div>
         <!-- <div class="col-5">
            <div class="bg-negro w-100 h-100 rounded-4 d-flexeo card-product-inner"> 
                <img src="./MEDIA/night/background/lolita.jpg" class=" general-img product-img">
            </div>
        </div>      -->   
    </div>
</section>
<!-- FEATURES -->
<app-footer></app-footer>

