<section class="container-fliud container-fluid p-4 vh-100 ">
    <div class="row h-100">
        <div class="col-6">
            <div class="w-100 h-100 overflow-hidden rounded-4 position-relative d-flexeo p-2 gap-2 general-option-container" id="general-option-container">
                <div class="logo-opcion-container  w-100 h-auto">
                    <a href="index.html" class="links inner-logo-opcion-container d-flexeo">
                        <figure> 
                            <img src="./RECURSOS/LOGOS/Icono_C.png" alt="Logo FINDE" class="general-img">
                        </figure>
                        <h4>FINDE</h4>
                    </a>
                </div>
                <div class="counter-opcion-container d-flexeo gap-2 w-100 h-auto" id="counter-opcion-container">
                    <!-- <div class="counter-item rounded-pill p-1 counter-pass"></div> -->
                    <div class="counter-item rounded-pill p-1 counter-active"></div>
                    <div class="counter-item rounded-pill p-1"></div>
                    <div class="counter-item rounded-pill p-1"></div>
                    <div class="counter-item rounded-pill p-1"></div>
                </div>
                <div class="botones-opcion-container mt-3 w-100 h-auto d-flexeo gap-4" id="botones-opcion-container">
                    <a href="/account" class="ratio ratio-1x1 container-option-btn-sign links" style="color: var(--Negro);">
                        <div class="w-100 h-100 option-btn-sign border border-2 border-negro rounded-4 d-flexeo gap-4 trans" id="ingreso">
                            <div class="bg-rojo rounded-circle p-3 d-flexeo logo-card-sign color-b trans"><i class='bx bxs-navigation' ></i></div>
                            <div class="title-card-sign">Ingresar</div>
                            <div class="select-active-sign rounded-circle p-2 bg-white d-flexeo"><i class='bx bx-check' ></i></div>
                        </div>
                    </a>

                    <a href="/type" class="ratio ratio-1x1 container-option-btn-sign" style="color: var(--Negro);">
                        <div class="w-100 h-100 option-btn-sign border border-2 border-negro rounded-4 d-flexeo gap-4 trans" id="registro">
                            <div class="bg-rojo rounded-circle p-3 d-flexeo logo-card-sign color-b trans "><i class='bx bx-plus' ></i></div>
                            <div class="title-card-sign ">Registrarse</div>
                            <div class="select-active-sign rounded-circle p-2 bg-white d-flexeo"><i class='bx bx-check' ></i></div>
                        </div>
                    </a>
                </div>
                
                <div class="nav-opcion-container d-flexeo gap-2 w-100 h-auto">
                    <a href="/home" class="links rounded-pill btn-g-b py-2 px-4 border border-2 btn-sign" >Regresar</a>
                </div>
            </div>

        </div>
        <div class="col-6">
            <div class="w-100 h-100 overflow-hidden rounded-4 position-relative img-container-sign d-flexeo p-3">
              <div class="card-app-sign d-flexeo bg-white w-100 vh-25 rounded-4 overflow-hidden">
                <figure class="m-0 h-100">
                    <img src="./RECURSOS/code-qr.PNG" alt="" class="general-img">
                </figure>
                <div class="inner-card-app h-auto px-5">
                    <h4>Decarga nuestra  aplicación móvil.</h4>
                    <div class="rounded-4 overflow-hidden border border-2 border-negro d-flexeo in-btn-app-con gap-2 p-3">
                        <a href="" class="links d-flexeo gap-2 btn-g-b bg-rojo rounded-2 py-2 px-4" target="_blank"><i class='bx bxl-play-store' ></i> PlayStore</a>
                        <a href="" class="links d-flexeo gap-2 btn-g-b bg-rojo rounded-2 py-2 px-4" target="_blank"><i class='bx bxl-apple' ></i> App Store</a>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
