<app-nav></app-nav>
<!-- HEADER CATEGORY -->
    <header class="container-fluid p-4 pt-2 overflow-hidden position-relative vh-100 header-category-container">
        <div class="w-100 h-100 overflow-hidden rounded-4 header-category-container-inner d-flexeo p-3 position-relative" id="header-category-container-inner">
            <div class="w-100 inner-card-CH rounded-4">
                <div class="row h-100">
                    <div class="col-7">
                        <div class="w-100 h-100 p-0 container-inner-inner-card-CH d-flexeo position-relative">
                            <div class="w-auto top-inner-inner d-flexeo gap-2  p-3 position-relative">
                                <a href="" class="p-3 rounded-circle d-flexeo links btn-g-b"><i class='bx bxl-play-store'></i></a>
                                <a href="" class="p-3 rounded-circle d-flexeo links btn-g-b"><i class='bx bxl-apple' ></i></a>
                                <h4 class="m-0">Descarga nuestra app móvil.</h4>
                            </div>
                            <div class="w-100 down-inner-inner d-flexeo gap-2  p-3">
                                <h4 class="m-0">Sumérgete en un mundo de aventuras con nuestras categorías diseñadas para ti</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="w-100 h-100 p-0 container-inner-inner-card-CH d-flexeo position-relative">
                            <div class="w-100 item-inner-inner d-flexeo gap-2 p-3">
                               <div class="item-categoty-header links rounded-pill py-2 px-3 d-flexeo gap-2 color-b hove-1 trans cat-1"><i class='bx bx-restaurant'></i> Restaurantes</div>
                               <div class="item-categoty-header links rounded-pill py-2 px-3 d-flexeo gap-2 color-b hove-2 trans cat-2"><i class='bx bxs-palette' ></i> Cultura y Arte</div>
                               <div class="item-categoty-header links rounded-pill py-2 px-3 d-flexeo gap-2 color-b hove-5 trans cat-5"><i class='bx bxs-donate-heart' ></i> Salud y Bienestar</div>
                               <div class="item-categoty-header links rounded-pill py-2 px-3 d-flexeo gap-2 color-b hove-3 trans  cat-3"><i class='bx bxs-party' ></i> Vida nocturna</div>
                               <div class="item-categoty-header links rounded-pill py-2 px-3 d-flexeo gap-2 color-b hove-4 trans  cat-4"><i class='bx bxs-bowling-ball' ></i> Recreación y Diversión</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="circle-header-category rounded-circle">
                <div class="w-100 h-100 rounded-circle border border-2 border-white p-3 overflow-hidden d-flexeo" >
                    <div class="w-100 h-100 d-flexeo rounded-circle" id="header-category-container-inner-circle">

                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- HEADER CATEGORY -->

<!-- CATEGORY SEARCH -->
    <section class="container-fluid overflow-hidden p-4 position-relative vh-50">
        <div class="row h-100">
            <div class="col-12 h-100">
                <div class="row h-100">
                    <div class="col-12">
                        <div class="w-100 h-100 d-flexeo">
                            <div class="input-group input-group-lg mb-3 input-footer-form w-100">
                                <button class="btn btn-outline-secondary rounded-start-4 px-4 py-3 border border-0 bg-rojodark color-b btn-footer trans d-flexeo" type="button" id="button-addon2"><i class='bx bx-search'></i></button>
                                <input type="text" class="form-control p-3 rounded-end-4 border border-2 border-negro focus-ring focus-ring-light" placeholder="Busca un lugar aquí...">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row h-100">
                            <div class="col-2">
                                <button class="w-100 h-100 rounded-4 overflow-hidden categories-card-item d-flexeo border border-2 trans hove-0 active-categories-item actCat-0">
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter"><i class='bx bxs-category-alt'></i> </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">Todos</h6>
                                        <small class="m-0">325 lugares</small>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2">
                                <button class="w-100 h-100 rounded-4 overflow-hidden categories-card-item d-flexeo border border-2 trans hove-1">
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter"><i class='bx bx-restaurant'></i> </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">Restaurantes</h6>
                                        <small class="m-0">325 lugares</small>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2">
                                <button class="w-100 h-100 rounded-4 overflow-hidden categories-card-item d-flexeo border border-2 trans hove-2">
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter"><i class='bx bxs-palette'></i> </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">Cultura y Arte</h6>
                                        <small class="m-0">325 lugares</small>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2">
                                <button class="w-100 h-100 rounded-4 overflow-hidden categories-card-item d-flexeo border border-2 trans hove-4">
        
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter"><i class='bx bxs-bowling-ball'></i> </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">Recreación y Diversión</h6>
                                        <small class="m-0">325 lugares</small>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2">
                                <button class="w-100 h-100 rounded-4 overflow-hidden categories-card-item d-flexeo border border-2 trans hove-3">
        
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter"><i class='bx bxs-party'></i> </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">Vida Cocturna</h6>
                                        <small class="m-0">325 lugares</small>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2">
                                <button class="w-100 h-100 rounded-4 overflow-hidden categories-card-item d-flexeo border border-2 trans hove-5">
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter"><i class='bx bxs-donate-heart'></i> </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">Salud y Bienestar</h6>
                                        <small class="m-0">325 lugares</small>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-6">
                <div class="row h-100">
                    <div class="col-12">
                        <div class="row h-100">
                            <div class="col-2 ">
                                <button class="w-100 rounded-4 overflow-hidden stars-filter-item categories-card-item d-flexeo border border-2 trans hove-0">
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter">
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bx-star' ></i>
                                        <i class='bx bx-star' ></i>
                                        <i class='bx bx-star' ></i>
                                        <i class='bx bx-star' ></i>
                                    </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">1</h6>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2 ">
                                <button class="w-100 rounded-4 overflow-hidden stars-filter-item categories-card-item d-flexeo border border-2 trans hove-0">
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter">
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bx-star' ></i>
                                        <i class='bx bx-star' ></i>
                                        <i class='bx bx-star' ></i>
                                    </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">2</h6>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2">
                                <button class="w-100 rounded-4 overflow-hidden stars-filter-item categories-card-item d-flexeo border border-2 trans hove-0">
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter">
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bx-star' ></i>
                                        <i class='bx bx-star' ></i>
                                    </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">3</h6>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2">
                                <button class="w-100 rounded-4 overflow-hidden stars-filter-item categories-card-item d-flexeo border border-2 trans hove-0">
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter">
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bx-star' ></i>
                                    </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">4</h6>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2">
                                <button class="w-100 rounded-4 overflow-hidden stars-filter-item categories-card-item d-flexeo border border-2 trans hove-0">
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter">
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bxs-star'></i> 
                                    </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">5</h6>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2">
                                <button class="w-100 rounded-4 overflow-hidden stars-filter-item categories-card-item d-flexeo border border-2 trans hove-0">
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter">
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bx-star' ></i>
                                        <i class='bx bx-star' ></i>
                                        <i class='bx bx-star' ></i>
                                    </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">2</h6>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row h-100">
                            <div class="col-2 d-flexeo down-column">
                                <button class="w-100 rounded-4 overflow-hidden stars-filter-item categories-card-item d-flexeo border border-2 trans hove-0">
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter">
                                        <i class='bx bx-dollar' ></i> 
                                    </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">Bajo</h6>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2 d-flexeo down-column">
                                <button class="w-100 rounded-4 overflow-hidden stars-filter-item categories-card-item d-flexeo border border-2 trans hove-0">
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter">
                                        <i class='bx bx-dollar' ></i> 
                                        <i class='bx bx-dollar' ></i> 
                                    </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">Medio</h6>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2 d-flexeo down-column">
                                <button class="w-100 rounded-4 overflow-hidden stars-filter-item categories-card-item d-flexeo border border-2 trans hove-0">
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter">
                                        <i class='bx bx-dollar' ></i> 
                                        <i class='bx bx-dollar' ></i> 
                                        <i class='bx bx-dollar' ></i> 
                                    </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">Alto</h6>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2 d-flexeo down-column">
                                <button class="w-100 rounded-4 overflow-hidden stars-filter-item categories-card-item d-flexeo border border-2 trans hove-0">
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter">
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bx-star' ></i>
                                        <i class='bx bx-star' ></i>
                                        <i class='bx bx-star' ></i>
                                    </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">2</h6>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2 d-flexeo down-column">
                                <button class="w-100 rounded-4 overflow-hidden stars-filter-item categories-card-item d-flexeo border border-2 trans hove-0">
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter">
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bx-star' ></i>
                                        <i class='bx bx-star' ></i>
                                        <i class='bx bx-star' ></i>
                                    </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">2</h6>
                                    </div>
                                </button>
                            </div>
                            <div class="col-2 d-flexeo down-column">
                                <button class="w-100 rounded-4 overflow-hidden stars-filter-item categories-card-item d-flexeo border border-2 trans hove-0">
                                    <div class="links rounded-circle p-3 btn-cat-header trans d-flexeo item-logo-filter">
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bxs-star'></i> 
                                        <i class='bx bx-star' ></i>
                                        <i class='bx bx-star' ></i>
                                        <i class='bx bx-star' ></i>
                                    </div>
                                    <div class="w-100 item-info-filter p-2 d-flexeo">
                                        <h6 class="m-0">2</h6>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        
    </section>
<!-- CATEGORY SEARCH -->

<section class="container-fluid overflow-hidden p-4 pe-5 places-cat-container">
    <div class="places-gap"></div>
    <div class="places-column"></div>
    <a href="/lugar" target="_self" class="card-places-container up-card-places-container rounded-4 p-3 bg-negro links color-b trans">
        <figure class="card-img-01 w-100 rounded-4  m-0">
            <img src="./MEDIA/culture/background/museo.webp" class="general-img" alt="">
        </figure>
        <div class="card-title-02 w-100 d-flexeo gap-2">
            <figure class="card-02-logo rounded-circle bg-white m-0">
                <img src="./MEDIA/culture/logo/museo.png" class="general-img" alt="">
            </figure>
            <div class="card-02-name">Museo de Arte e Historia de Guanajuato</div>
        </div>
        <div class="card-info-03 w-100 d-flexeo gap-2">
            <div class="card-03-stars bg-white rounded-pill py-2 px-3 "><i class='bx bxs-star'></i> 4.5</div>
            <div class="card-03-comments bg-white rounded-pill py-2 px-3"><i class='bx bxs-message-square-dots' ></i> 1.4k</div>
            <div class="card-03-visit bg-white rounded-circle p-2 d-flexeo"><i class='bx bx-right-arrow-alt' ></i></div>
        </div>
    </a>
    <a href="/lugar" target="_self" class="card-places-container large-card-places-container rounded-4 p-3 bg-negro links color-b trans">
        <figure class="card-img-01 w-100 rounded-4  m-0">
            <img src="./MEDIA/culture/background/museo.webp" class="general-img" alt="">
        </figure>
        <div class="card-title-02 w-100 d-flexeo gap-2">
            <figure class="card-02-logo rounded-circle bg-white m-0">
                <img src="./MEDIA/culture/logo/museo.png" class="general-img" alt="">
            </figure>
            <div class="card-02-name">Museo de Arte e Historia de Guanajuato</div>
        </div>
        <div class="card-info-03 w-100 d-flexeo gap-2">
            <div class="card-03-stars bg-white rounded-pill py-2 px-3 "><i class='bx bxs-star'></i> 4.5</div>
            <div class="card-03-comments bg-white rounded-pill py-2 px-3"><i class='bx bxs-message-square-dots' ></i> 1.4k</div>
            <div class="card-03-visit bg-white rounded-circle p-2 d-flexeo"><i class='bx bx-right-arrow-alt' ></i></div>
        </div>
    </a>
    <a href="/lugar" target="_self" class="card-places-container up-card-places-container rounded-4 p-3 bg-negro links color-b trans">
        <figure class="card-img-01 w-100 rounded-4  m-0">
            <img src="./MEDIA/culture/background/museo.webp" class="general-img" alt="">
        </figure>
        <div class="card-title-02 w-100 d-flexeo gap-2">
            <figure class="card-02-logo rounded-circle bg-white m-0">
                <img src="./MEDIA/culture/logo/museo.png" class="general-img" alt="">
            </figure>
            <div class="card-02-name">Museo de Arte e Historia de Guanajuato</div>
        </div>
        <div class="card-info-03 w-100 d-flexeo gap-2">
            <div class="card-03-stars bg-white rounded-pill py-2 px-3 "><i class='bx bxs-star'></i> 4.5</div>
            <div class="card-03-comments bg-white rounded-pill py-2 px-3"><i class='bx bxs-message-square-dots' ></i> 1.4k</div>
            <div class="card-03-visit bg-white rounded-circle p-2 d-flexeo"><i class='bx bx-right-arrow-alt' ></i></div>
        </div>
    </a>
    <a href="/lugar" target="_self" class="card-places-container down-card-places-container rounded-4 p-3 bg-negro links color-b trans">
        <figure class="card-img-01 w-100 rounded-4  m-0">
            <img src="./MEDIA/culture/background/museo.webp" class="general-img" alt="">
        </figure>
        <div class="card-title-02 w-100 d-flexeo gap-2">
            <figure class="card-02-logo rounded-circle bg-white m-0">
                <img src="./MEDIA/culture/logo/museo.png" class="general-img" alt="">
            </figure>
            <div class="card-02-name">Museo de Arte e Historia de Guanajuato</div>
        </div>
        <div class="card-info-03 w-100 d-flexeo gap-2">
            <div class="card-03-stars bg-white rounded-pill py-2 px-3 "><i class='bx bxs-star'></i> 4.5</div>
            <div class="card-03-comments bg-white rounded-pill py-2 px-3"><i class='bx bxs-message-square-dots' ></i> 1.4k</div>
            <div class="card-03-visit bg-white rounded-circle p-2 d-flexeo"><i class='bx bx-right-arrow-alt' ></i></div>
        </div>
    </a>
    <a href="/lugar" target="_self" class="card-places-container rounded-4 p-3 bg-negro links color-b trans">
        <figure class="card-img-01 w-100 rounded-4  m-0">
            <img src="./MEDIA/culture/background/museo.webp" class="general-img" alt="">
        </figure>
        <div class="card-title-02 w-100 d-flexeo gap-2">
            <figure class="card-02-logo rounded-circle bg-white m-0">
                <img src="./MEDIA/culture/logo/museo.png" class="general-img" alt="">
            </figure>
            <div class="card-02-name">Museo de Arte e Historia de Guanajuato</div>
        </div>
        <div class="card-info-03 w-100 d-flexeo gap-2">
            <div class="card-03-stars bg-white rounded-pill py-2 px-3 "><i class='bx bxs-star'></i> 4.5</div>
            <div class="card-03-comments bg-white rounded-pill py-2 px-3"><i class='bx bxs-message-square-dots' ></i> 1.4k</div>
            <div class="card-03-visit bg-white rounded-circle p-2 d-flexeo"><i class='bx bx-right-arrow-alt' ></i></div>
        </div>
    </a>
    <a href="/lugar" target="_self" class="card-places-container up-card-places-container rounded-4 p-3 bg-negro links color-b trans">
        <figure class="card-img-01 w-100 rounded-4  m-0">
            <img src="./MEDIA/culture/background/museo.webp" class="general-img" alt="">
        </figure>
        <div class="card-title-02 w-100 d-flexeo gap-2">
            <figure class="card-02-logo rounded-circle bg-white m-0">
                <img src="./MEDIA/culture/logo/museo.png" class="general-img" alt="">
            </figure>
            <div class="card-02-name">Museo de Arte e Historia de Guanajuato</div>
        </div>
        <div class="card-info-03 w-100 d-flexeo gap-2">
            <div class="card-03-stars bg-white rounded-pill py-2 px-3 "><i class='bx bxs-star'></i> 4.5</div>
            <div class="card-03-comments bg-white rounded-pill py-2 px-3"><i class='bx bxs-message-square-dots' ></i> 1.4k</div>
            <div class="card-03-visit bg-white rounded-circle p-2 d-flexeo"><i class='bx bx-right-arrow-alt' ></i></div>
        </div>
    </a>
    <a href="producto.html" target="_self" class="card-places-container large-card-places-container rounded-4 p-3 bg-negro links color-b trans">
        <figure class="card-img-01 w-100 rounded-4  m-0">
            <img src="./MEDIA/culture/background/museo.webp" class="general-img" alt="">
        </figure>
        <div class="card-title-02 w-100 d-flexeo gap-2">
            <figure class="card-02-logo rounded-circle bg-white m-0">
                <img src="./MEDIA/culture/logo/museo.png" class="general-img" alt="">
            </figure>
            <div class="card-02-name">Museo de Arte e Historia de Guanajuato</div>
        </div>
        <div class="card-info-03 w-100 d-flexeo gap-2">
            <div class="card-03-stars bg-white rounded-pill py-2 px-3 "><i class='bx bxs-star'></i> 4.5</div>
            <div class="card-03-comments bg-white rounded-pill py-2 px-3"><i class='bx bxs-message-square-dots' ></i> 1.4k</div>
            <div class="card-03-visit bg-white rounded-circle p-2 d-flexeo"><i class='bx bx-right-arrow-alt' ></i></div>
        </div>
    </a>
    <a href="producto.html" target="_self" class="card-places-container up-card-places-container rounded-4 p-3 bg-negro links color-b trans">
        <figure class="card-img-01 w-100 rounded-4  m-0">
            <img src="./MEDIA/culture/background/museo.webp" class="general-img" alt="">
        </figure>
        <div class="card-title-02 w-100 d-flexeo gap-2">
            <figure class="card-02-logo rounded-circle bg-white m-0">
                <img src="./MEDIA/culture/logo/museo.png" class="general-img" alt="">
            </figure>
            <div class="card-02-name">Museo de Arte e Historia de Guanajuato</div>
        </div>
        <div class="card-info-03 w-100 d-flexeo gap-2">
            <div class="card-03-stars bg-white rounded-pill py-2 px-3 "><i class='bx bxs-star'></i> 4.5</div>
            <div class="card-03-comments bg-white rounded-pill py-2 px-3"><i class='bx bxs-message-square-dots' ></i> 1.4k</div>
            <div class="card-03-visit bg-white rounded-circle p-2 d-flexeo"><i class='bx bx-right-arrow-alt' ></i></div>
        </div>
    </a>
    <a href="producto.html" target="_self" class="card-places-container down-card-places-container rounded-4 p-3 bg-negro links color-b trans">
        <figure class="card-img-01 w-100 rounded-4  m-0">
            <img src="./MEDIA/culture/background/museo.webp" class="general-img" alt="">
        </figure>
        <div class="card-title-02 w-100 d-flexeo gap-2">
            <figure class="card-02-logo rounded-circle bg-white m-0">
                <img src="./MEDIA/culture/logo/museo.png" class="general-img" alt="">
            </figure>
            <div class="card-02-name">Museo de Arte e Historia de Guanajuato</div>
        </div>
        <div class="card-info-03 w-100 d-flexeo gap-2">
            <div class="card-03-stars bg-white rounded-pill py-2 px-3 "><i class='bx bxs-star'></i> 4.5</div>
            <div class="card-03-comments bg-white rounded-pill py-2 px-3"><i class='bx bxs-message-square-dots' ></i> 1.4k</div>
            <div class="card-03-visit bg-white rounded-circle p-2 d-flexeo"><i class='bx bx-right-arrow-alt' ></i></div>
        </div>
    </a>
    <a href="producto.html" target="_self" class="card-places-container rounded-4 p-3 bg-negro links color-b trans">
        <figure class="card-img-01 w-100 rounded-4  m-0">
            <img src="./MEDIA/culture/background/museo.webp" class="general-img" alt="">
        </figure>
        <div class="card-title-02 w-100 d-flexeo gap-2">
            <figure class="card-02-logo rounded-circle bg-white m-0">
                <img src="./MEDIA/culture/logo/museo.png" class="general-img" alt="">
            </figure>
            <div class="card-02-name">Museo de Arte e Historia de Guanajuato</div>
        </div>
        <div class="card-info-03 w-100 d-flexeo gap-2">
            <div class="card-03-stars bg-white rounded-pill py-2 px-3 "><i class='bx bxs-star'></i> 4.5</div>
            <div class="card-03-comments bg-white rounded-pill py-2 px-3"><i class='bx bxs-message-square-dots' ></i> 1.4k</div>
            <div class="card-03-visit bg-white rounded-circle p-2 d-flexeo"><i class='bx bx-right-arrow-alt' ></i></div>
        </div>
    </a>
    <a href="producto.html" target="_self" class="card-places-container up-card-places-container rounded-4 p-3 bg-negro links color-b trans">
        <figure class="card-img-01 w-100 rounded-4  m-0">
            <img src="./MEDIA/culture/background/museo.webp" class="general-img" alt="">
        </figure>
        <div class="card-title-02 w-100 d-flexeo gap-2">
            <figure class="card-02-logo rounded-circle bg-white m-0">
                <img src="./MEDIA/culture/logo/museo.png" class="general-img" alt="">
            </figure>
            <div class="card-02-name">Museo de Arte e Historia de Guanajuato</div>
        </div>
        <div class="card-info-03 w-100 d-flexeo gap-2">
            <div class="card-03-stars bg-white rounded-pill py-2 px-3 "><i class='bx bxs-star'></i> 4.5</div>
            <div class="card-03-comments bg-white rounded-pill py-2 px-3"><i class='bx bxs-message-square-dots' ></i> 1.4k</div>
            <div class="card-03-visit bg-white rounded-circle p-2 d-flexeo"><i class='bx bx-right-arrow-alt' ></i></div>
        </div>
    </a>
    <a href="producto.html" target="_self" class="card-places-container large-card-places-container rounded-4 p-3 bg-negro links color-b trans">
        <figure class="card-img-01 w-100 rounded-4  m-0">
            <img src="./MEDIA/culture/background/museo.webp" class="general-img" alt="">
        </figure>
        <div class="card-title-02 w-100 d-flexeo gap-2">
            <figure class="card-02-logo rounded-circle bg-white m-0">
                <img src="./MEDIA/culture/logo/museo.png" class="general-img" alt="">
            </figure>
            <div class="card-02-name">Museo de Arte e Historia de Guanajuato</div>
        </div>
        <div class="card-info-03 w-100 d-flexeo gap-2">
            <div class="card-03-stars bg-white rounded-pill py-2 px-3 "><i class='bx bxs-star'></i> 4.5</div>
            <div class="card-03-comments bg-white rounded-pill py-2 px-3"><i class='bx bxs-message-square-dots' ></i> 1.4k</div>
            <div class="card-03-visit bg-white rounded-circle p-2 d-flexeo"><i class='bx bx-right-arrow-alt' ></i></div>
        </div>
    </a>
    <a href="producto.html" target="_self" class="card-places-container up-card-places-container rounded-4 p-3 bg-negro links color-b trans">
        <figure class="card-img-01 w-100 rounded-4  m-0">
            <img src="./MEDIA/culture/background/museo.webp" class="general-img" alt="">
        </figure>
        <div class="card-title-02 w-100 d-flexeo gap-2">
            <figure class="card-02-logo rounded-circle bg-white m-0">
                <img src="./MEDIA/culture/logo/museo.png" class="general-img" alt="">
            </figure>
            <div class="card-02-name">Museo de Arte e Historia de Guanajuato</div>
        </div>
        <div class="card-info-03 w-100 d-flexeo gap-2">
            <div class="card-03-stars bg-white rounded-pill py-2 px-3 "><i class='bx bxs-star'></i> 4.5</div>
            <div class="card-03-comments bg-white rounded-pill py-2 px-3"><i class='bx bxs-message-square-dots' ></i> 1.4k</div>
            <div class="card-03-visit bg-white rounded-circle p-2 d-flexeo"><i class='bx bx-right-arrow-alt' ></i></div>
        </div>
    </a>
    <a href="producto.html" target="_self" class="card-places-container down-card-places-container rounded-4 p-3 bg-negro links color-b trans">
        <figure class="card-img-01 w-100 rounded-4  m-0">
            <img src="./MEDIA/culture/background/museo.webp" class="general-img" alt="">
        </figure>
        <div class="card-title-02 w-100 d-flexeo gap-2">
            <figure class="card-02-logo rounded-circle bg-white m-0">
                <img src="./MEDIA/culture/logo/museo.png" class="general-img" alt="">
            </figure>
            <div class="card-02-name">Museo de Arte e Historia de Guanajuato</div>
        </div>
        <div class="card-info-03 w-100 d-flexeo gap-2">
            <div class="card-03-stars bg-white rounded-pill py-2 px-3 "><i class='bx bxs-star'></i> 4.5</div>
            <div class="card-03-comments bg-white rounded-pill py-2 px-3"><i class='bx bxs-message-square-dots' ></i> 1.4k</div>
            <div class="card-03-visit bg-white rounded-circle p-2 d-flexeo"><i class='bx bx-right-arrow-alt' ></i></div>
        </div>
    </a>
    <a href="producto.html" target="_self" class="card-places-container rounded-4 p-3 bg-negro links color-b trans">
        <figure class="card-img-01 w-100 rounded-4  m-0">
            <img src="./MEDIA/culture/background/museo.webp" class="general-img" alt="">
        </figure>
        <div class="card-title-02 w-100 d-flexeo gap-2">
            <figure class="card-02-logo rounded-circle bg-white m-0">
                <img src="./MEDIA/culture/logo/museo.png" class="general-img" alt="">
            </figure>
            <div class="card-02-name">Museo de Arte e Historia de Guanajuato</div>
        </div>
        <div class="card-info-03 w-100 d-flexeo gap-2">
            <div class="card-03-stars bg-white rounded-pill py-2 px-3 "><i class='bx bxs-star'></i> 4.5</div>
            <div class="card-03-comments bg-white rounded-pill py-2 px-3"><i class='bx bxs-message-square-dots' ></i> 1.4k</div>
            <div class="card-03-visit bg-white rounded-circle p-2 d-flexeo"><i class='bx bx-right-arrow-alt' ></i></div>
        </div>
    </a>
    
</section>  
<app-footer></app-footer>
